#calendar {
    margin: 0 auto;
}

#calendar,
#calendar caption {
    background: rgba(0, 0, 0, .02);
}

#calendar caption {
    padding: 15px 0 20px;
}

#calendar caption > a {
    padding: 5px 10px;
}

#calendar td {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid transparent;
    empty-cells: hide;
    text-align: center;
    line-height: 30px;
    color: rgba(42, 42, 42, .3);
    position: relative;
}

#calendar td a {
    color: rgba(42, 42, 42, .8);
    display: inline-block;
    width: 100%;
    height: 100%;
}

#calendar td a:hover {
    color: #000;
}

#calendar td a::before {
    content: "";
    background-color: #2196F3;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 14px;
    bottom: 2px;
}
